doctype html
html
    head
        title #{title}
        link(href="/style.css" rel="stylesheet" type="text/css")
    body(class = "answer")
        h2(align="center") #{title}
            p #{text}
                span  #{answer}

include footer.pug