doctype html
html
    head
        title Authorization
        link(href="/style.css" rel="stylesheet" type="text/css")
    body
        h3(align="center") Please, enter your login and password
        ul
            form(class = "auth")
                p
                    label(for = login)
                    input(name="login" type="login" placeholder="Login")
                p
                    label(for = passwd)
                    input(name="passwd" type="password" placeholder="Password")
                p
                    button(type="submit") Send

include footer.pug