doctype html
html
    head
        title= title
        link(href="/style.css" rel="stylesheet" type="text/css")
    body(class = "main")
        h2 Tasks
        ul
            for num in numbers
                li
                    p
                    a(class = "task" href = "/api/GudkovNikita/lab1/" + num) Task #{num}
        p For some task you need to be an admin.
        p
        a(href = "auth" ) Authorization

include footer.pug