doctype html
html
    head
        title= title
        link(href="/style.css" rel="stylesheet" type="text/css")
    body(class = "main")
        h2 Tasks
        div(class='task')
            ul
                for num in numbers
                    li
                        p
                        a(href = "/api/GudkovNikita/lab1/" + num) Task #{num}
        div(class='log_reg')
            a(href = "login" ) Login
            p
            a(href='register') Sign up

include footer.pug